html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/App.css" rel="stylesheet")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    div.font-pp.pt-8
      footer.footer.items-center.p-4.flex.flex-col(class="bg-[#FFC9D7] text-black lg:flex-row lg:justify-between lg:px-8")
        .items-center.justify-center(class="flex flex-col mt-2 lg:mt-0 lg:flex-row")
          label.avatar
            .w-10.rounded-full
              img(src="https://i.ibb.co/FbgNc2d/icon-RSB.jpg")  
          |  
          p.text-sm &copy; Rumah Sayang Bunda 2022
          span.hidden(class="lg:flex") - 
          p.text-center.text-sm Perum Plandi Permai Blok F2, Plandi, Kec. Jombang, Kabupaten Jombang, Jawa Timur 61411 
          span.hidden(class="lg:flex") -
          a(class="hover:underline" href="https://rumahsayangbunda.vercel.app/privacy" target="_blank") Privacy Policy   
        |
        div.flex.flex-row.gap-3
          a(href="https://www.instagram.com/rumahsayangbunda/" target="_blank")
            i(class="fa-brands fa-instagram text-2xl")
          |  
          a(href="https://api.whatsapp.com/send?phone=6281615987664" target="_blank")
            i(class="fa-brands fa-whatsapp text-2xl")