html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification" content="GjSkArpS-h2-Dw_m11lWaoNSMNBltMykXVWQUAi-dbw")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    link(href="/css/App.css" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    script(src="https://kit.fontawesome.com/8e8eb5d7ee.js" crossorigin="anonymous")
    title Rumah Sayang Bunda - Login
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/jpg")
    link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
  body
    .font-pp(class="bg-white")
      include navbar.pug
      .flex.flex-col.px-8(class="lg:px-24")
        .div(id="home" class="min-h-[40rem] flex flex-col justify-center")
          h1.text-2xl.leading-normal.font-bold(class="lg:text-6xl") Kami membantu anda 
            .br dalam melakukan 
              span(class="text-[#f391ab]") reservasi
            .br dengan menggunakan API Google Calendar
          h5.mt-8.text-sm Memudahkan pelanggan untuk melakukan reservasi pada klinik Rumah Sayang Bunda. 
            .br Anda harus login dengan menggunakan akun google terlebih dahulu untuk melakukan reservasi.
          div.flex.justify-start.mt-8
            a(href="/appointment/new/form1")
              button.btn.gap-2.flex(class="bg-white focus:bg-gray-100 border-none rounded-none pl-0 hover:bg-white text-black hover:outline hover:outline-4 hover:outline-offset-2  hover:outline-[#4285F4] shadow-md")
                img(src="img/btn_google_light_normal_ios.svg", alt="google-icon")
                | Sign in with Google
        div(class="min-h-screen flex flex-col justify-center" id="about-us")
          .flex.flex-col(class="lg:flex-row lg:justify-between lg:gap-3 gap-7")
            div
              h1.text-2xl.font-bold.mb-4.text-center(class="lg:text-6xl lg:text-start") About Us
              h5(class="lg:text-lg lg:flex hidden lg:flex-col") Rumah sayang bunda bergerak di bidang jasa perawatan moms and baby. 
                .br Seiring dengan perkembangan jaman, kami fokus dalam perawatan moms and baby seperti 
                .br massage yang di kemas dengan gaya modern, yang mana kami dalam pelayanannya 
                .br memberikan pelayanan lewat terapis - terapis yang berlatar pendidikan kesehatan yaitu bidan, 
                .br serta minyak yang kami gunakan merupakan oil esential dari young living.
              h5.text-sm(class="md:hidden text-center") Rumah sayang bunda bergerak di bidang jasa perawatan moms and baby. Seiring dengan perkembangan jaman, kami fokus dalam perawatan moms and baby seperti massage yang di kemas dengan gaya modern, yang mana kami dalam pelayanan memberikan pelayanan lewat terapis - terapis yang berlatar pendidikan kesehatan yaitu bidan, serta minyak yang kami gunakan merupak oil esential dari young living.
            div(class="ease-in duration-300 transition")
              img(src="https://i.ibb.co/YTJzLr4/pegawai-rsb.jpg", alt="pegawai-rsb" class="w-96 rounded-lg shadow-[0px_5px_20px_1px_rgba(0,0,0,0.3)] hover:shadow-[0px_5px_20px_1px_#f391ab] cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
        div(id="services" class="min-h-screen flex flex-col justify-center pt-10 lg:pt-28")
          h1.text-2xl.font-bold.mb-4.text-center(class="lg:text-6xl") Services 
          h5.text-sm.text-center(class="lg:text-lg") Inilah beberapa layanan yang terdapat pada Klinik Rumah Sayang Bunda
          .flex.flex-row.flex-wrap.mt-10.gap-10.justify-center.z-30
            .card.card-compact.w-96.bg-base-100.shadow-xl(class="cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
              figure
                img(src="https://i.ibb.co/FxbRRQt/kids-baby-Spa.jpg" alt='kids-babySpa')
              .card-body
                h2.card-title Kids and Baby Spa
                p Kids and Baby spa adalah perawatan yang dilakukan agar dapat memberikan dampak positif bagi bayi ibu. Perawatan ini terbagi menjadi dua sesi, yaitu hidroterapi dan pijatan. Awalnya, si kecil akan berendam di kolam air dengan menggunakan pelampung di lehernya.
            .card.card-compact.w-96.bg-base-100.shadow-xl(class="cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
              figure
                img(src="https://i.ibb.co/WPfCyPg/baby-haircut-nailscut.png" alt='Shoes')
              .card-body
                h2.card-title Baby Haircut and Nailscut
                p Baby Haircut and Nailscut adalah perawata yang dilakukan untuk merawat rambut serta kuku pada bayi anda.
            .card.card-compact.w-96.bg-base-100.shadow-xl(class="cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
              figure
                img(src="https://i.ibb.co/jyZwhsr/baby-massage.jpg" alt='Baby Massage')
              .card-body
                h2.card-title Baby Massage
                p Baby massage adalah pemijatan yang dilakukan lebih mendekati usapan- usapan halus atau rangsangan raba (taktil) yang dilakukan dipermukaan kulit, manipulasi terhadap jaringan atau organ tubuh bertujuan untuk menghasilkan efek terhadap syaraf otot, dan sistem pernafasan serta memperlancar sirkulasi darah 
            .card.card-compact.w-96.bg-base-100.shadow-xl(class="cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
              figure
                img(src="https://i.ibb.co/ZH287xF/kids-massage.jpg" alt='Shoes')
              .card-body
                h2.card-title Kids Massage
                p Massage pada anak Balita bermanfaat untuk menambah kenyamanan pada anak dan juga mengurangi emosional sehingga dapat membantu untuk mengurangi Tantrum pada anak tersebut.
            .card.card-compact.w-96.bg-base-100.shadow-xl(class="cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
              figure
                img(src="https://i.ibb.co/y0F1QY1/new-born-premium-care.png" alt='Shoes')
              .card-body
                h2.card-title New Born Premium Care
                p New Born Premium Care adalah paket perawatan premium yang meliputi : 
                  .br - Baby Massage
                  .br - Haircut
                  .br - Cukur Rambut
                  .br - Perawatan Telinga
                  .br - Perawatan Hidung
                  .br - Perawatan Mulut & Lidah
            .card.card-compact.w-96.bg-base-100.shadow-xl(class="cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
              figure
                img(src="https://i.ibb.co/XjMzNYL/massage-bapil.jpg" alt='Shoes')
              .card-body
                h2.card-title Baby Massage Bapil
                p Anak-anak yang sedang menderita batuk dan pilek dapat merasakan layanan khusus pijat "Kompres Flu dan Batuk". Pijat ini dilakukan dengan lembut pada titik-titik tertentu di tubuh dengan memanfaatkan minyak esensial yang aromanya dipercaya dapat meningkatkan keseimbangan tubuh
            .card.card-compact.w-96.bg-base-100.shadow-xl(class="cursor-pointer transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300")
              figure
                img(src="https://i.ibb.co/nmY3gNH/treatment-mom.jpg" alt='Shoes')
              .card-body
                h2.card-title Treatment Mom
                p ada beberapa perawatan yang terdapat pada treatment mom diantaranya : 
                  .br - Mom Spa 
                  .br - Post Partum Spa
                  .br - Pregnancy Spa 
                  .br - Laktasi Treatment
      include footer.pug